---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Titulo from '../components/SectionMain/Titulo.astro';
import Principal from '../components/SectionMain/Principal.astro';
---

<Layout title="Ejercicios Javascript">
	<header class="w-full font-lapizTexto bg-transparent shadow-md flex  text-center items-center justify-between px-9 py-5 ">
		<img class="  border-[1px] border-black  transition-all ease-in-out duration-75 hover:scale-105  rounded-lg hover:shadow-sm hover:shadow-black " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7wnhfNI2OH744CZjlwlUXdgVRDKnuJJNLlw&s" width="40px" alt="">
		<Navbar />
	</header>
	<main class=" max-w-5xl m-auto ">
		<Titulo />
		<section class="flex justify-center flex-col gap-9">
			<Principal />
		</section>
	
	</main>
</Layout>

<style>
	
</style>


