---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Titulo from '../components/SectionMain/Titulo.astro';
import Principal from '../components/SectionMain/Principal.astro';
import Subtitulo from '../components/SectionMain/Subtitulo.astro';
import BotonInicio from '../components/SectionMain/botonInicio.astro';

---

<Layout title="Ejercicios Javascript">
	<header class="  w-full font-lapizTexto px-9 py-5 ">
		<Navbar />
	</header>
	<main class=" flex flex-col gap-6  max-w-5xl mx-auto ">
		<section class="  text-center  rounded-sm  px-2 ">
			<Titulo />
			<Subtitulo />
			<BotonInicio />
		</section>
	

		<section class="flex justify-center flex-col gap-9">
			<Principal />
		</section>
	
	</main>
</Layout>

