---
import Layout from '../layouts/Layout.astro';
import IntroExercises from '../components/Section/IntroExercises.astro';
import Subtitulo from '../components/UI/Subtitulo.astro';
import Boton from '../components/UI/Boton.astro'
import { ObjetoPractica } from '../data/ObjetoPractica';

const CategoriasUnicas = [...new Set(ObjetoPractica.map(practica => practica.categoria))]

---

<Layout title="CodeMasterJS">
	
	<main class=" max-w-5xl mx-auto lg:h-[80vh] ">
		<!-- Seccion de titulos -->
		<section class="flex flex-col justify-center gap-12 my-9">
			<IntroExercises />
			<Subtitulo />
              
			 <div class=" flex flex-wrap gap-5 justify-center">
				{
					CategoriasUnicas.map((practica) => (
						<Boton  texto={practica} link={`/Ejercicios?categoria=${practica}`} />
					))
				}
				
			 </div>

		</section>

		
		
	</main>
</Layout>

