---
import { ExerciseCard } from "../exercises/ExerciseCard";
import TituloUI from "../UI/TituloUI.astro";
import BackToHome from "../UI/BackToHome.astro";
---

<section class="flex justify-center flex-col gap-9">
    <TituloUI  title={"Ejercicios"} />
    <BackToHome  texto={"regresar"}/>
  <!-- <Dificultad /> -->
  <ExerciseCard  client:idle />
</section>
