---
import TituloUI from "../UI/TituloUI.astro";
---

<section class="container mx-auto">
  <TituloUI title={"CodeMasters"} />
  <p class="text-center text-lg mt-12">
    Aquí encontrarás <span class="text-colorjs font-bold">ejercicios</span> de Javascript
    diseñados para
    <span class="font-semibold text-colorjs">fortalecer</span> tus habilidades y
    <span class="font-semibold text-colorjs">dominar</span> conceptos clave. Desde
    lo básico hasta desafíos avanzados, cada ejercicio está creado para ayudarte
    a
    <span class="font-semibold">convertirte en un experto en JavaScript</span>.
  </p>
</section>
