<article class="grid grid-cols-2 items-center text-center gap-5 mb-9">
    <div>
      <h4 class="text-xl font-bold mb-3 uppercase pb-4">Habilidades</h4>
      <ul class="flex justify-center gap-8 items-center">
        <div class="flex flex-col gap-4">
          <li class="bg-[#fb923c] text-white px-5 py-1 -rotate-2 font-bold shadow-lg">Resolución</li>
          <li class="bg-[#fb923c] my-4 text-white py-1 rotate-3 font-bold shadow-lg">Lógica</li>
        </div>
        <div class="flex flex-col gap-4">
          <li class="bg-[#fb923c] text-white px-5 py-1 rotate-2 font-bold shadow-lg">Optimización</li>
          <li class="bg-[#fb923c] my-4 text-white px-5 py-1 -rotate-3 font-bold shadow-lg">Estructuras</li>
        </div>
      </ul>
    </div>
    
    <div>
      <h4 class="text-xl font-bold mb-3 uppercase pb-4">Conceptos</h4>
      <ul class="flex justify-center gap-8 items-center">
        <div class="flex flex-col gap-4">
          <li class="bg-[#34d399] text-white px-5 py-1 -rotate-2 font-bold shadow-lg">Condicionales</li>
          <li class="bg-[#34d399] my-4 text-white py-1 rotate-3 font-bold shadow-lg">Funciones</li>
        </div>
        <div class="flex flex-col gap-4">
          <li class="bg-[#34d399] text-white px-5 py-1 rotate-2 font-bold shadow-lg">Bucles</li>
          <li class="bg-[#34d399] my-4 text-white px-5 py-1 -rotate-3 font-bold shadow-lg">Arrays y objetos</li>
        </div>
      </ul>
    </div>
  </article>
  