---
const { texto  , link } = Astro.props;
---

<a
  href={link}
  class="w-56 py-2 text-center font-semibold bg-yellow-400/10 hover:-translate-y-3 border-2 border-b-8 border-yellow-400 rounded-md transition-transform duration-150 ease-in"
>
  {texto}
</a>
