---
const { title } = Astro.props;
---

<div class="w-full inline-flex flex-wrap justify-center items-center gap-3 ">
    <h1 class="text-5xl lg:text-6xl font-bold text-center ">{title}</h1>
    <img class="w-16 lg:w-24 rotate-3 rounded-lg drop-shadow-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7wnhfNI2OH744CZjlwlUXdgVRDKnuJJNLlw&s" width="96"  alt="Logo Javascrit">
</div>